<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FM11XXConfigurator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="ioSection" type="FM11XXConfigurator.Common.IOSection, FM11XXConfigurator.Common" />
  </configSections>
  <userSettings>
    <FM11XXConfigurator.Properties.Settings>
      <setting name="MainFormHeight" serializeAs="String">
        <value>736</value>
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="MainFormLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="MainFormWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="GpsTcpListenerPort" serializeAs="String">
        <value>1234</value>
      </setting>
    </FM11XXConfigurator.Properties.Settings>
  </userSettings>
  <ioSection>
    <ioElements>
      <io id="0" type="Digital Input 1" size="2"/>
      <io id="1" type="Digital Input 2" size="2"/>
      <io id="2" type="Digital Input 3" size="2"/>
      <io id="3" type="Analog Input 1 (mV)" size="3"/>
      <io id="4" type="Digital Output 1" size="2"/>
      <io id="5" type="Digital Output 2" size="2"/>
      <io id="6" type="GPS PDOP" size="3"/>
      <io id="7" type="GPS HDOP" size="3"/>
      <io id="8" type="External Voltage (mV)" size="3"/>
      <io id="9" type="GPS Power" size="2"/>
      <io id="10" type="Movement Sensor" size="2"/>
      <io id="11" type="Odometer Value (m)" size="5"/>
      <io id="12" type="GSM Operator" size="5"/>
      <io id="13" type="Speed (Km/h)" size="3"/>
      <io id="14" type="iButton ID" size="9"/>
      <io id="15" type="Working Mode" size="2"/>
      <io id="16" type="GSM Signal" size="2"/>
      <io id="17" type="Deep Sleep" size="2"/>
      <io id="18" type="Cell ID" size="3"/>
      <io id="19" type="Area Code" size="3"/>
      <io id="20" type="Dallas Temperature" size="5"/>
      <io id="21" type="Reserved" size="0"/>
      <io id="22" type="Reserved" size="0"/>
      <io id="23" type="Reserved" size="0"/>
      <io id="24" type="Reserved" size="0"/>
    </ioElements>
  </ioSection>
</configuration>